body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 20px;
}

header {
  background-color: rgba(68,68,68,255);
  height: 100px;
  margin-bottom: 30px;
}

nav {
  width: 960px;
  margin: auto;
}

header img {
  float: left;
  margin-top: 15px;
}

header ul {
  display: flex;
  justify-content: space-around;
}

header ul li {
  margin-top: 40px;
}

a { 
  text-decoration: none;
  color: rgba(133,133,133,255);
}

main {
  width: 960px;
  margin: auto;
}

section {
  display: flex;
}


#container div {
  width: 200px;
  height: 200px
}

div:nth-of-type(3){
  align-self: flex-end;
}

div:nth-of-type(1){
  align-self: flex-start
}

div:nth-of-type(5){
  align-self: flex-start;
}

main ul {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

article {
  margin-left: 30px;
}
section{
  display: flex;
  height: 400px;
  width: 960px;
  justify-content: space-between;
}

p {
  overflow: auto;
  height: 320px;
  width: 480px;
  line-height: 25px;
  font-style: italic;
}
p::-webkit-scrollbar {
  display: none;
}

h2 {
  font-size: 20px;
}
footer {
    background-color: rgba(68,68,68,255);
    height: 150px;
    margin-top: 30px;
}

button {
  transition: 350ms;
  background-color: rgba(170,170,170,255);
  border-style: none;
  margin-top: 15px;
  text-align: center;
  width: 200px;
  height: 45px;
  font-size: 20px;
  border-radius: 10px;
  
}

button:hover {
  background-color: black;
  color: white;
}